{% extends 'base.html' %}

{% block title %}Мое резюме{% endblock %}

{% block content %}
    <div class="container my-5">

        <h5>Здесь мы получаем весь список объектов с помощью пагинации. https://b7w2x7a.retailcrm.ru/api/v5/orders</h5>
            <p>Статус запроса:{{ json.success }}</p>
            <h4>После получения данных мы проводим их очистку данных и отправляем запрос на сервер. (/site/add_site_data/) в этот раз оставил только один запрос. </h4>
            
            <form action="/send" method="post">
                <button type="submit" class="btn btn-primary">Отправить данные</button>
             </form>
        
            <p>Список id полученных с сайта:(всю информацию выводить не стал.)</p>
            {% for value in json %}
                <dd>{{ value.id|e }}</dd>
            {% endfor %}
    </div>
{% endblock %}